* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

html {
	height: 100vh;
}

body {
	background-color: rgb(163,239,255);
}

#grass {
	position: absolute;
	background-image: url(../images/background3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 50vh;
	margin-top: 58vh;
	z-index: -1;
}

#well {
	background-image: url(../images/well1.png);
	background-repeat: no-repeat;
	height: 309px;
	width: 501px;
	margin: 0 auto;
	transform: translateY(35vh);
	padding: 3em 2em;
}

#display {
	color: #FFF;
	background-color: rgb(179,179,179);
	font-size: 28px;
	height: 100%;
	width: 100%;
	padding: 0.5em;
}

#display p {
	word-wrap: break-word;
}

#display ul {
	text-align: right;
	list-style-type: none; 
}

form { 
	position: fixed; 
	bottom: 0; 
	background: url(../images/wood1.jpg); 
	padding: 3px; 
	width: 100%;
}

form p {
	color: #FFF;
	width: 185px;
	display: inline;
}
      
form input { 
	border: 0; 
	padding: 10px; 
	width: 60%; 
	margin-right: .5%; 
	margin-left: 1em;
}
      
#submit { 
	color: #FFF;
	width: 9%; 
	background: rgb(36, 173, 191); 
	border: none; 
	padding: 10px; 
	margin-left: 0.5em;
	font-size: 18px;
}

#location { 
	color: #FFF;
	width: 9%; 
	border: none; 
	padding: 10px;
	margin-left: 0.5em; 
	font-size: 18px;
	text-align: center;
}

.locOn {
	background: rgb(55, 146, 47); 
}

.locOff {
	background: rgb(143, 143, 143); 
}



#geo-marker {
	color: #FFF;
	padding: 10px;
}